@charset "UTF-8";
#topslider{
 overflow:hidden;
}
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}
.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 501;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .35;
}
.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    line-height: 1;
    opacity: 0.8;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color:rgba(244,244,244,0.9);
    background-position: center;
    background-repeat: no-repeat;
    border-radius:50%;
    box-shadow:1px 1px 2px rgba(0,0,0,.4);
}
.slick-prev {left: 8px;}
.slick-next {right: 8px;}
.slick-prev:before {
    content: "";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDkvMDEvMTgkOXylAAAA4UlEQVQokY3SMUpDQRRG4U+xVGvRSrssQdBOSHZgZYSQftZy+4AkpNAdJHUEl2AjplKs1f5ZvEl40TfqlDPnzP3vndmqqkpppZTOMMYyIi5g5w/4DofN/e0CfIobHOAV16uzHxUyPMcenjCIiPtWIcMj7OID/Yh4aI2U4Rk6eET3O7wWcoMT7Oebh21ws8IVjvGCXgneiPTftRKmWOIIs9xPWYiIBfp4V49zVJLWkXLunnpCHczbpI0esjTEZ640SSmdF4WG1FW/8glu89jbhYY0wJv6841/FbK0wCWe1RMEX8lrTu/n2z+UAAAAAElFTkSuQmCC);
}
.slick-next:before {
    content: "";
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQCAYAAAAiYZ4HAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDkvMDEvMTgkOXylAAAA5UlEQVQokY3SsUoDQRSF4W+DpVqLXcTGRxBMnbxEEpD08yzTh4CxyhskYKeQR0gTsBGxVvu12FmYbHaD08wMnH/OmXtvUZYlCCG8oI9pjPFNx+pl5z5usAohDP4DTPGJKyxCCPdtQFFHSrEGWOAWPxjGGLddDmKMr5gk8TnmTacDIEFbDLHDHdY5dARk0Cw5XWJZF6IVyKARPlQVHJ8EslXkl7MuVcq9TpH2eO4EkniOC3xjUpf3CEjijaqsO8zyXvQa4gcs08u/TfEBkMQr1TzttXS56fCEa3zhsU3c/MN72k+O9x/ndlEvB4gQHgAAAABJRU5ErkJggg==);
}
.arrow-rectangle .slick-prev {left: 0;}
.arrow-rectangle .slick-next {right: 0;}
.arrow-rectangle .slick-prev,
.arrow-rectangle .slick-next{
margin-top:-32px;
height:64px;
}
.arrow-rectangle .slick-prev::before,
.arrow-rectangle .slick-next::before{
    box-shadow:1px 1px 1px rgba(0,0,0,.2);
}
.arrow-rectangle .slick-prev::before{
border-radius:0 3px 3px 0;
}
.arrow-rectangle .slick-next::before{
border-radius:3px 0 0 3px;
}
@media screen and (max-width:480px) {
    .slick-prev,
    .slick-next {
       width:24px;
       height:24px;
       margin-top:-12px;
       opacity: 0.8;
    }
    .slick-prev::before,
    .slick-next::before {
       background-size:8px 14px;
    }
    .slick-prev{left:2px;}
    .slick-next{right:2px;}
    .arrow-rectangle .slick-prev,
.arrow-rectangle .slick-next{
height:48px;
margin-top:-24px;
}
}
.slick-dotted.slick-slider {
    margin-bottom: 30px;
}
.slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slide-header .slick-dots{display:none;}
.slick-dots li {
    background-image: none !important;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px !important;
    padding: 0 !important;
    cursor: pointer;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li::before {
    display: none;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '';
    text-align: center;
    border-radius: 50%;
    opacity: .25;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
ul[id$="slider_ul"].slide_center{
padding:0 !important;
}
ul[id$="slider_ul"].slide_center li img {
    width: 100%;
    max-width: 100%;
    min-height:100px;
    max-height:640px;
    height:240px;
    -o-object-fit:cover;
       object-fit:cover;
       font-family: 'object-fit: cover;';
}
@media screen and (min-width:768px){
    ul[id$="slider_ul"].slide_center li img{
       height:360px;
    }
}
ul[id$="slider_ul"] a:hover {
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    opacity: 1;
}
ul[id$="slider_ul"] li {
    position: relative;
}
ul[id$="slider_ul"].slide_center .slidertitle {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    font-size: 1.125em;
    line-height: 1.6;
    color: #333 !important;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    box-sizing: border-box;
    max-height: 35%;
    overflow: hidden;
}
ul[id$="slider_ul"].slide_center .slick-slide:not(.slick-center):not(.slick-current) {
    -webkit-filter: opacity(60%);
    -moz-filter: opacity(60%);
    -o-filter: opacity(60%);
    -ms-filter: opacity(60%);
    filter: opacity(60%);
    transition: all ease-in-out .1s;
}
ul[id$="slider_ul"].slide_item {
    overflow: visible;
    background-color: #FFF;
    padding:0 !important;
}
header ul[id$="slider_ul"].slide_item {
    background-color: transparent;
}
ul[id$="slider_ul"].slide_item li a {
    color: #333;
}
ul[id$="slider_ul"].slide_item .slidertitle {
    font-size: 0.875em;
    line-height: 1.4;
    color: #333;
    display: block;
    padding: 8px 5px;
    box-sizing: border-box;
    width: 100%;
    max-height:4.6em;
    overflow:hidden;
}
ul[id$="slider_ul"].slide_item .slick-list {
    margin-right: -12px;
}
ul[id$="slider_ul"].slide_item .slick-slide {
    margin-right: 12px;
}
ul[id$="slider_ul"].slide_item .slick-prev,
ul[id$="slider_ul"].slide_item .slick-next{
opacity:1.0;
}
ul[id$="slider_ul"].slide_item .slick-prev{
left:1px;
}
ul[id$="slider_ul"].slide_item .slick-next{
right:1px;
}
ul[id$="slider_ul"].slide_item li img{
   width:100%;
   height:100px;
   min-height:50px;
   -o-object-fit:cover;
      object-fit:cover;
      font-family: 'object-fit: cover;';
}
ul[id$="slider_ul"].slide_item {
        padding: 0 16px !important;
box-sizing:border-box;
}
ul[id$="slider_ul"].arrow-rectangle .slide_item .slick-prev::before,
ul[id$="slider_ul"].arrow-rectangle .slide_item .slick-next::before
{
border-radius:0;
}
@media screen and (min-width: 480px) {
    ul[id$="slider_ul"].slide_item {
        padding: 0 40px !important;
    }
    ul[id$="slider_ul"].slide_item li img{
      height:180px;
    }
    ul[id$="slider_ul"].slide_item.items2 li img{
      height:196px;
    }
    ul[id$="slider_ul"].slide_item.items4 li img{
      height:120px;
    }
    ul[id$="slider_ul"].slide_center .slidertitle {
        font-size: 1.25em;
    }
}
ul[id$="slider_ul"] .sliderdate{
position:absolute;
background-color:rgba(255,255,255,0.8);
color:#000;
top:3px;
left:3px;
font-size:12px;
line-height:24px;
padding:2px 6px 2px 24px;
border-radius:3px;
background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAA50lEQVQoz2NggAJjbuMY4z3Gr42fGK829jZmYUAFxknG/4Hws/Fx4/PGP4Gsj8YWyNJTgULLjCWhPEZjDeNTQJFImHQ8kJOIZiIjWJMWiMll/Ne4DS7RYywEV3LQ+J4xI4NxJFABG1zBUZhFQLYc0AwNBuOdxouQjEZSAOS9Ns5lMH5pnIFTwQbj6egKthg3IcIAogDVCibjaKAWV6Dj4FagOBIszGk80TgT4UiQN1sZGDDCAeZNICcRqDIea0Bpowa1BFxSHSWowYLJ8Mg6B46sz8ZW6LZyG8cZ7zN+a/zMeL2xD8KrAB4uX1C1bPNlAAAAAElFTkSuQmCC);
background-repeat:no-repeat;
background-position:4px 6px;
}
#sl_header #header{display:block !important;}
body,footer,#footer,#footer > div{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif;font-weight:normal;}
h1,h2,h3,h4,h5,h6,.title,dt,h3 > span,h4 > span,h5 > span,h6 > span,.title > span,div[id$="menu"] h4,div[id$="menu"] .title,#indexlist .title{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif !important;font-weight:bold;}
#entrylist h4,#entrylist h4::before{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif;font-weight:normal;}
.rank1,.rank2,.rank3,.rank4,.rank5,.rank6,.rank7,.rank8,.rank9,.rank10,.point,.point1,.point2,.point3,.point4,.point5,.point6,.point7,.point8,.point9,.point10{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif !important;font-weight:bold;}
#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9,#text10,#space1,#space2{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif;font-weight:normal;}
