@charset "shift_jis";

table{
width:100%;
font-size:13px;
margin:10px 0;
border-collapse: collapse;
border-spacing:0px;
}
th{
background-color:#EBEBEB;
padding:5px;
}
td{
background-color:#FFFFFF;
padding:5px;
}
table,td,th{
border:solid 1px #CCC;
word-wrap : break-word;
overflow-wrap : break-word;
text-align:left;
}
table#toptbl,table#toptbl td,table#toptbl th{
   border:none;
}
#menu .ritem td,#rmenu .ritem td{border:none;}
.rtitle {
height: 44px;
text-align: center;
overflow: hidden;
padding: 4px;
}
.rimg {
text-align: center;
}
.timg img{
max-width:200px;
height:auto;
}
.price {
color: #CC0000;
font-weight: bold;
}
.tdesc {
text-align: left;
vertical-align: top;
}
.tbl_rnk{
font-size:15px;
font-weight:bold;
overflow:hidden;
display:inline;
padding:5px;
}
.ritm{
background-color:#FFFFFF;
table-layout:fixed;
}
.ritm th,.ritm td{
padding:6px;
line-height: 120%;
vertical-align:top;
text-align: center;
}
.ritm .txt-img img{margin:0 auto 8px;}
.tokusho {
}
.tokusho th, .tokusho td {
padding: 8px;
}
.tokusho th {
background-color: #E3E3E3;
width: 30%;
}
.ritm_desc {
}
.ritm_desc td {
vertical-align: top;
padding: 10px;
}
.ritm_desc .title {
background-color: #EBEBEB;
padding: 5px;
margin-bottom: 8px;
text-align:left;
line-height:120%;
font-family: 'HGP‘n‰pŠpºÞ¼¯¸UB', 'Hiragino Kaku Gothic Pro', 'ƒqƒ‰ƒMƒmŠpƒS Pro W6', sans-serif;
font-weight:normal;
}
.ritm_desc .title a{
color:#333;
}
.ritm_desc .title a:hover{
color:#FF0000;
}
.ritm_desc .desc{
padding:20px;
}
.ritm_desc .price {
text-align: left;
padding: 0px;
}
.ritm_desc .img {
width: 20%;
}
.ritm_desc .more, .ritm_desc .price, .ritm_desc .review {
line-height: 25px;
height: 25px;
margin-right: 5px;
margin-left: 5px;
}
table.rnk1item {
table-layout:auto;
border:solid 1px #CCC;
}
.rnk1item td,.rnk1item th{
border:none;
border-bottom:dotted 1px #CCC;
}
.rnk1item th {
background-color: #FFF;
width: auto;
padding:5px;
width:60px;
vertical-align:middle;
}
.rnk1item td {
background-color: #FFFFFF;
vertical-align: top;
font-size: 12px;
line-height: 130%;
padding: 15px 10px;
}
.rnk1item .ttitle {
font-size: 18px;
font-weight: bold;
margin-bottom: 12px;
line-height: 130%;
}
.rnk1item th, .rnk1item td {
}
.rnk1item .timg {
width: auto;
padding-top: 10px;
vertical-align:middle;
}
.rnk1item .alt th, .rnk1item .alt td {
}
table.rnk2item {
table-layout:auto;
border:solid 1px #CCC;
}
.rnk2item .timg, .rnk2item .tdesc {
padding: 8px;
vertical-align: top;
}
.rnk2item th.ttitle {
padding: 10px;
text-align: left;
font-size: 16px;
}
.rnk2item td{
overflow:hidden;
}
.rnk2item td.tdesc {
width:100%;
}
.rnk2item td.timg {
width:auto;
}
.rnk2item td.tdesc,.rnk2item td.timg {
border:none;
}
.rnk2item .timg img {
padding-bottom: 10px;
height:auto;
}
.rnk2item .tdesc {
line-height: 150%;
}
table.rnk2item table.ttable {
width:101%;
margin: 0px;
padding: 0px;
border:none;
table-layout:fixed;
}
.ttable th, .ttable td {
padding: 8px !important;
line-height:130%;
text-align: center;
border:none;
border-right:dotted 1px #CCC;
}
.rnk2item tr:last-child td{
padding:0;
}
.rnk3item {
table-layout:auto;
border:solid 1px #CCC;
}
.rnk3item th {
text-align: left;
padding: 8px;
font-size: 17px;
}
.rnk3item th img {
vertical-align: bottom;
margin-right: 6px;
}
.rnk3item td {
padding: 10px;
border:none;
}
.rnk3item td.timg {
text-align: center;
width: auto;
}
.rnk3item .img-center{
width:auto;
display:inline;
}
.rnk3item th img{
float:left;
}
.prc1item {
table-layout:auto;
}
.prc1item th {
padding: 6px;
text-align: center;
}
.prc1item td {
text-align: center;
padding: 6px;
}
.prc1item td {
text-align: center;
padding: 6px;
}
.prc1item .alt td {
background-color: #F5F5F5;
}
.prc1item .price {
text-align: right;
width: 100px;
font-size:15px;
}
.dsc1item,.dsc2item {
background-color: #CCCCCC;
table-layout:fixed;
}
.dsc1item th, .dsc1item td,.dsc2item th, .dsc2item td {
padding: 6px;
}
.dsc1item th{
width:30%;
}
.dsc1item th , .dsc2item th {
text-align: center;
}
.dsc1item td , .dsc2item td {
vertical-align: top;
}
.tblmenu1item td {
font-size: 13px;
line-height: 1.5;
vertical-align:top;
padding:6px;
}
.tblmenu1item.col2 td,.tblmenu1item.col2 th{
width:50%;
box-sizing:border-box;
}
.tblmenu1item td .ttitle {
background-color: #EEEEEE;
font-weight: bolder;
padding: 7px;
margin-bottom: 8px;
font-size: 14px;
}
.tblmenu1item td .ttitle a{
display:block;
}
.tblmenu1item td .more{
text-align:right;
padding:5px 0 3px;
}
td,th,tr{
-moz-box-sizing: border-box;
box-sizing: border-box;
}
tr{
width:100%;
}
.rnk1item th,.rnk1item td{
width:100%;
display:block;
border:none;
}
.rnk1item tr{
border-bottom:solid 1px #CCC;
}
.rnk1item .timg,.rnk1item th,.rnk1item .timg p,.rnk1item th p{
text-align:center !important;
}
.rnk2item td.timg, .rnk2item td.tdesc{
display:block;
width:100%;
border-right:solid 1px #CCC;
}
.rnk2item td.timg{
text-align:center !important;
}
.rnk3item th, .rnk3item td{
display:block;
width:100%;
}
.tokusho td,.tokusho th{
display:block;
width:100%;
}
.tblmenu1item td img{
float:none;
display:block;
margin:6px auto;
}
table{
}
td{
}
th{
}
body,footer,#footer,#footer > div{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif;font-weight:normal;}
h1,h2,h3,h4,h5,h6,.title,dt,h3 > span,h4 > span,h5 > span,h6 > span,.title > span,div[id$="menu"] h4,div[id$="menu"] .title,#indexlist .title{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif !important;font-weight:bold;}
#entrylist h4,#entrylist h4::before{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif;font-weight:normal;}
.rank1,.rank2,.rank3,.rank4,.rank5,.rank6,.rank7,.rank8,.rank9,.rank10,.point,.point1,.point2,.point3,.point4,.point5,.point6,.point7,.point8,.point9,.point10{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif !important;font-weight:bold;}
#text1,#text2,#text3,#text4,#text5,#text6,#text7,#text8,#text9,#text10,#space1,#space2{font-family: "ŸàƒSƒVƒbƒN Medium", "Yu Gothic Medium",ŸàƒSƒVƒbƒN‘Ì, 'Yu Gothic', YuGothic, 'ƒqƒ‰ƒMƒmŠpƒSƒVƒbƒN Pro', 'Hiragino Kaku Gothic Pro', ƒƒCƒŠƒI, Meiryo, Osaka, '‚l‚r ‚oƒSƒVƒbƒN', 'MS PGothic', sans-serif;font-weight:normal;}

#contents #main div[class^="txt-"]{
    padding:0;
}
@media screen and (min-width:768px){
.txt-decbox1,.txt-decbox2,.txt-border,.txt-line,.txt-grayback,.txt-colorback,.txt-frame,.txt-colorframe,.txt-rndbox{
margin:10px 0 30px !important;
}
}

.txt-border {
background-image: url(./img/dott.gif);
background-repeat: repeat;
background-position: left top;
font-size: 13px;
line-height: 30px;
margin: 10px;
padding: 0 !important;
border:none !important;
box-shadow: none !important;
}
.txt-border p {
font-size: 13px;
line-height: 30px;
}
.txt-line  {
border: 2px solid #CCCCCC;
}
.txt-yellowback {
background-color: #FFF9DF;
border: 2px solid #CC0000;
}
.txt-grayback {
background-color: #e6e6e6;
border: 3px solid #f6f6f6;
}
.txt-grayback .body {
background-color: #fbfbfb;
}
.txt-colorback {
background-color: #ffe591;
border: 3px solid #fff8e1;
}
.txt-colorback .body {
background-color: #fffcf2;
}
.txt-frame {
background-color: #EEEEEE;
}
.txt-frame .top {
background-image:none;
height: 1px;
overflow: hidden;
}
.txt-frame .top_inner {
background-image:none;
height: 1px;
}
.txt-frame .body {
padding: 20px 25px;
margin: 5px 6px;
box-shadow: 0 0 0px 1px rgba(50,50,50,.1);
background-color: #FFF;
}
.txt-frame .bottom {
height: 1px;
overflow: hidden;
}
.txt-frame .bottom span{
background-image: none;
display: block;
height: 1px;
}
.txt-colorframe {
background-color: #F6BFAB;
}
.txt-colorframe .top {
background-image:none;
height: 1px;
overflow: hidden;
}
.txt-colorframe .top_inner {
background-image:none;
height: 1px;
}
.txt-colorframe .body {
padding: 20px 25px;
margin: 5px 6px;
box-shadow: 0 0 0px 1px rgba(50,50,50,.1);
background-color: #FFF;
}
.txt-colorframe .bottom {
height: 1px;
overflow: hidden;
}
.txt-colorframe .bottom span{
background-image: none;
display: block;
height: 1px;
}
.txt-rndbox {
border: solid 1px #E1E1E1 !important;
border-radius: 14px;
box-shadow: 0 0 4px 1px rgba(50,50,50,0.1) inset !important;
}
.txt-rndbox .top {
height: 15px;
overflow: hidden;
}
.txt-rndbox .top_inner {
height: 15px;
}
.txt-rndbox .body {
padding: 10px 25px;
}
.txt-rndbox .bottom {
height: 15px;
overflow: hidden;
}
.txt-rndbox .bottom span{
display: block;
height: 15px;
}
#main div[class^="txt-decbox"] div[class^="top_box"] h2,
#main div[class^="txt-decbox"] div[class^="top_box"] h3,
#main div[class^="txt-decbox"] div[class^="top_box"] h2 > span,
#main div[class^="txt-decbox"] div[class^="top_box"] h3 > span{
margin:0 !important;
background-image: none;
padding:0;
border:none;
background-color:transparent;
text-align:center;
font-size:20px;
line-height:1.3;
box-shadow:none !important;
}
#main div[class^="txt-decbox"] div[class^="top_box"] > h2,
#main div[class^="txt-decbox"] div[class^="top_box"] > h3{
padding: 40px 20px 10px !important;
}
@media screen and (min-width:768px){
#main div[class^="txt-decbox"] div[class^="top_box"] h2 > span,
#main div[class^="txt-decbox"] div[class^="top_box"] h3 > span{
font-size:24px;
}
}

#main div[class^="txt-decbox"] div[class^="top_box"] h2:before,
#main div[class^="txt-decbox"] div[class^="top_box"] h3:before,
#main div[class^="txt-decbox"] div[class^="top_box"] h2:after,
#main div[class^="txt-decbox"] div[class^="top_box"] h3:after,
#main div[class^="txt-decbox"] div[class^="top_box"] h2 > span:before,
#main div[class^="txt-decbox"] div[class^="top_box"] h3 > span:before,
#main div[class^="txt-decbox"] div[class^="top_box"] h2 > span:after,
#main div[class^="txt-decbox"] div[class^="top_box"] h3 > span:after{
background:none;
border:none;
bottom: 0;
left: 0;
right: 0;
top: 0;
content:"";
position: static !important;
z-index: -1;
line-height:0;
display:none;
background-color: #fffbee;
}
#text1.txt-decbox1, #text2.txt-decbox1, #text3.txt-decbox1, #text4.txt-decbox1, #text5.txt-decbox1, #text6.txt-decbox1, #text7.txt-decbox1, #text8.txt-decbox1, #text9.txt-decbox1, #text10.txt-decbox1 {
background-color: #fffbee;
}

.txt-decbox1 {
background-color: #fffbee;
background-image: url(./img/decbox_l.gif);
background-repeat: repeat-y;
background-position: left top;
}
.txt-decbox1 .top {
background-image: url(./img/decbox_t.gif);
background-repeat: no-repeat;
background-position: left top;
height:auto;
padding:0;
}
.txt-decbox1 .top_inner {
background-image: url(./img/decbox_r.gif);
background-repeat: repeat-y;
background-position: right top;
}
.txt-decbox1 .top_inner .top_box {
background-image: url(./img/decbox_tr.gif);
background-repeat: no-repeat;
background-position: right top;
text-align: center;
margin:0;
min-height:36px;
}

.txt-decbox1 .body{
background-image: url(./img/decbox_r.gif);
background-repeat: repeat-y;
background-position: right top;
padding: 10px 30px 0;
width:auto;
*zoom: 1;
}
.txt-decbox1 .bottom {
background-image: url(./img/decbox_b.gif);
background-repeat: no-repeat;
background-position: left top;
height: 50px;
padding:0;
}
.txt-decbox1 .bottom span{
background-image: url(./img/decbox_br.gif);
background-repeat: no-repeat;
background-position: right top;
display: block;
height: 50px;
margin:0;
}
.txt-decbox2 {
background-image: url(./img/decbox2_r.gif);
background-position: right bottom;
background-repeat: repeat-y;
}
.txt-decbox2 .top {
background-image: url(./img/decbox2_tr.gif);
background-repeat: no-repeat;
background-position: right top;
padding: 16px 16px 0 0;
height:auto;
}
.txt-decbox2 .top_inner {
background-image: url(./img/decbox2_l.gif);
background-position: left top;
background-repeat: repeat-y;
}
.txt-decbox2 .top_inner .top_box {
background-image: url(./img/decbox2_t.gif);
background-position: left top;
background-repeat: no-repeat;
padding-left: 16px;
position: relative;
top: -16px;
}
.txt-decbox2 .top_inner .top_box2 {
background-image: url(./img/decbox2_t2.gif);
background-position: center top;
background-repeat: no-repeat;
display: block;
text-align: center;
min-height:30px;
}
#main .txt-decbox2 .top_box h2 > span,
#main .txt-decbox2 .top_box h3 > span
{
padding: 50px 14px 0;
}
.txt-decbox2 .body{
background-image: url(./img/decbox2_l.gif);
background-position: left bottom;
background-repeat: repeat-y;
margin-bottom: -20px;
margin-right: 16px;
overflow: hidden;
padding: 0 14px 0 30px;
position: relative;
*zoom: 1;
}
.txt-decbox2 .bottom {
background-image: url(./img/decbox2_br.gif);
background-position: right top;
background-repeat: no-repeat;
height: 60px;
}
.txt-decbox2 .bottom span{
background-image: url(./img/decbox2_b.gif);
background-position: left top;
background-repeat: no-repeat;
display: block;
height: 60px;
}
#main .txt-grayback, #main .txt-colorback, #main .txt-line, #main .txt-frame,#main .txt-colorframe ,#main .txt-rndbox {
margin-top: 10px;
margin-bottom: 10px;
}
#main .txt-grayback, #main .txt-colorback {
padding: 1px;
}
#main .txt-grayback .body, #main .txt-colorback .body{
padding: 20px;
*zoom: 1;
}
#main .txt-frame, #main .txt-colorframe {
padding: 0;
}
#main .txt-rndbox, #main .txt-decbox1, #main .txt-decbox2{
padding: 0;
}

.txt-decbox1 .body:after, .txt-decbox2 .body:after{height:0; visibility: hidden; content: ".";   display: block; clear: both;}

#main .txt-decbox1 .top h2 > span,
#main .txt-decbox1 .top h3 > span {
    color: #93ab76;
}
#main .txt-decbox2 .top h2 > span,
#main .txt-decbox2 .top h3 > span {
    color: #8dad65;
}
.hd{
color: #333;
text-decoration:none;
}
.txt-img.timg-r,.txt-img.timg-l,image-left,.image-right,.txt-img img[align^="right"],.txt-img img[align^="left"]{max-width:100%;}
